*{
    margin: 0; 
}
body{
    background-color: rgb(209, 209, 209);
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),
     url("https://images.pexels.com/photos/27168481/pexels-photo-27168481/free-photo-of-tucano-ii.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ant{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
.text-00{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-align: right;
    text-align: left;
    text-align: center;
    text-decoration: line-through; 
    text-decoration: overline;  
    text-decoration: underline; 
}

main{
   /* background: linear-gradient(red,orange,green ,blue,indigo,violet);*/
   background-color: wheat;
   color: black;
   width: 100%;
   height: 57vh;
}
main h3{
    background-color: darkslateblue;
    height: 50%;
    width: 50%;
    width: fit-content;
}
.yup{
    background-color: darkred;
    min-height: 40px;
    color: white;
}
aside{
     position: relative; 
    color: white;
    background: linear-gradient(to right,orange,pink);
    height: 80vh;
}
aside h5{
    font-size: 3rem;
    color: red;
    position: absolute;
    top: 50%;
    right: 5px;
}
section{
    background-color: darkblue;
}
ul{
   background:url("https://cdn0.ic list-styleonfinder.com/data/icons/leading-international-corporate-website-app-collec/16/Hook-64.png");
    list-style: lower-greek;
    list-style: none;
}
ol{
    list-style: none;
    list-style: lower-greek;
}
li{
    color: rgb(200,100 ,21 );
}
ol{
    background-color: rgba(0,0,0,0.99 );
}

#lucky{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: 5px double white;
    width: fit-content;
    /*border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
    padding-left: 200px;
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 30px;
}
section .text-00{
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    width: fit-content;
    margin: 50px;
    padding: 0 50px;
    position: fixed;
    bottom: 0%;
    right: 30%;
    background-color: whitesmoke;
}
img{
    background-color: white;
    border-radius: 50%;
}
#top{
    position: fixed;
    bottom: 10%;
    right: 0;
}
#menu{
    position: absolute;
    top: 30px;
    right: 20px;
}