body{
    background-color: aquamarine;
    color: blueviolet;
    font-size: 21px;
}
h1{
  background-color: antiquewhite;
  color: darkred;
  width: fit-content;
  margin: auto;

}
.p{
    background-color: ghostwhite;
    color: limegreen;
}
ol{
  background-color: red;
  width: 50%;
  margin-left: 1cm;
  height: 200px;
  box-shadow: 20px 10px 5px rgba(204, 11, 204, 0.829);  
}
li{
    margin-bottom: 9px;
}
img{
  opacity: 0.89;
}
hr{
  height: 20px;
  color: rgba(226, 171, 180, 0.808);
  background-color: red;
}